body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #121212; /* Very dark background */
      color: #f0f0f0;           /* Light text color */
    }
    nav {
      background-color: #1f1f1f;
      position: fixed;
      width: 100%;
    }
    nav a {
      float: left;
      display: block;
      color: #f0f0f0;
      text-align: center;
      padding: 10px 16px;
      text-decoration: none;
    }
    .dropdown {
      float: left;
      overflow: hidden;
    }
    .dropdown .dropbtn {
      font-size: 16px;
      border: none;
      outline: none;
      color: #ffffff;
      padding: 14px 16px;
      background-color: inherit;
      font-family: inherit;
      margin: 0;
    }
    .navbar a:hover, .dropdown:hover .dropbtn {
      background-color: #8d885f;
    }
    .dropdown-content {
      display: none;
      position: absolute;
       background-color: #2b2b2b;
      min-width: 160px;
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
      z-index: 1;
    }
    .dropdown-content a {
      float: none;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
      color: #ffffff;
    }
    .dropdown-content a:hover {
      background-color: #8d885f;
    }
    .dropdown:hover .dropdown-content {
      display: block;
    }
    /* Styles for collapsible weekly reports */
    .weekly-report {
      margin: 20px 0;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
    .weekly-header {
      padding: 10px;
      cursor: pointer;
      font-weight: bold;
      text-align: center;
      background-color: #333333;
      color: #ffffff;
    }
    .report-content {
      display: none;
      padding: 10px 20px;
      background-color: #333333;
      color: #ffffff;
    }